<!--
 * @Description: index页面模板
 * @Author: OriX
 * @Date: 2021-05-22 14:19:32
 * @LastEditors: OriX
 * @LastEditTime: 2021-05-22 14:39:42
-->
<%- include('layout/header', { title: '微博 - 首页', isNav: true, list: true, isInputBlog: true })%>

<div class="container margin-top-20">this is index</div>

<%- include('layout/footer')%>
